:root{
    --color_emblema:#d2d2d2;
    --color_primario:#313945;
    --color_segundario:#1c1e4d;
    --color_negativo:#c9a892;
}

@font-face {
    font-family: 'BemboStd';
    src: url('../font/BemboStd.otf');
    
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../font/MuseoSans_500.otf');
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Museo Sans';
}

header{
    color: var(--color_emblema);
    background-color: var(--color_primario);
    font-style: normal;
    font-family: 'BemboStd';
    
}
footer{
    color:var(--color_emblema);
    background-color: var(--color_primario);
    
}

