@font-face {
    font-family: 'BemboStd';
    src: url('../font/BemboStd.otf');
    /*src: url('../font/BemboStd-Bold.otf');
    src: url('../font/BemboStd-SemiboldItalic.otf');*/
    
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../font/MuseoSans_500.otf');
}

header{
    color: #d9d9d9;
    background-color: #313945;
    font-family: 'BemboStd';
}
footer{
    color: #d9d9d9;
    background-color: #313945;
    font-family: 'Museo Sans';
    
}