:root{
    --color_emblema:#d2d2d2;
    --color_primario:#313945;
    --color_segundario:#1c1e4d;
    --color_negativo:#c9a892;
}

@font-face {
    font-family: 'BemboStd';
    src: url('../font/BemboStd.otf');
    
}

@font-face {
    font-family: 'Museo Sans';
    src: url('../font/MuseoSans_500.otf');
}

html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    font-family: 'Museo Sans';
}

header{
    color: var(--color_emblema);
    background-color: var(--color_primario);
    font-style: normal;
    font-family: 'BemboStd';
    
}
footer{
    color:var(--color_emblema);
    background-color: var(--color_primario);
    
}

.titulo{
    text-align: center;
    font-size: 3.8rem;
    font-weight: 400;
}

.contenedor{
    max-width: 120rem;
    margin: 0  auto;
}

.nav-bg{
    background-color: var(--color_primario);
}

.navegacion-principal{
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px){ 
        .navegacion-principal{
            flex-direction: row;
            justify-content: space-between;
        }
}

.navegacion-principal a{
    display: block;
    text-align: center;
    color: var(--color_emblema);
    text-decoration: none;
    font-size: 2rem;
    padding: 1rem;
    text-transform: uppercase;
}

.navegacion-principal a:hover{
    background-color: var(--color_segundario);
}



